.rainbow{
font-size: 51px;
font-weight: bold;
}
* {
  outline: none;
}


body {
 text-align: center;
 background: linear-gradient(45deg,red,orange,yellow,green,blue,indigo,violet);
}
.top {
margin: 25px 0 0 0;
}
button{
font-size: 30px;
font-weight: bold;
width: 75px;
height: 75px;
border-radius: 25px;
background: linear-gradient(135deg,red,orange,yellow,green,blue,indigo,violet);
}
input{
font-size: 50px;
padding: 3px 0 22px 0;
width: 222px;
border: 5px solid black;
border-radius: 25px;
}
